# Zależności (dla głównego folderu i podfolderów)
node_modules/
proxy-server/node_modules/

# Pliki środowiskowe (zmienne, klucze API)
.env
.env.local
.env.*.local

# Build (wynik budowania przez Vite / React)
dist/
build/

# Cache i narzędzia Vercela
.vercel/

# Inne logi systemowe i błędy npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vercel
.env*
